body
{ 

  margin: 0px; 
  
  background: linear-gradient(to bottom right, #660033, #e6000d) no-repeat center fixed;  
  width: 100%;
  height: 100%;
  background-size: cover; 

border: rgb(255, 255, 255) 2px;

  

}

h2{color: white;  display:inline; padding-right: 100px; position: relative;left: -140px; padding-top: 10px;}

  .menu{
    background: rgba(5, 5, 5, 0.698);}


  .menu .menu-list, .menu .sub-menu{
    list-style: none;
  }
  
  /* Configura todos os links do nosso menu */
  .menu a{
    color: #fff;
    text-decoration: none;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing:0.2em;
  }

  .menu > .menu-list > li{
    float: left;
    position: relative;
  }
  /* Configura os links do menu principal */
  .menu > .menu-list > li > a {
    padding: 20px;
    margin: 0 5px;
}


  /* Configura o fundo do menu principal quando com mouse hover */
  .menu > .menu-list > li:hover a {
    background: rgba(131, 100, 100, 0.034);
    text-decoration: none;


  }
  /* Mostra o submenu no evento de mouse hover */
  .menu > .menu-list > li:hover > .sub-menu {
    display: block;
}
  /* Configura o estilo do submenu */
  .menu > .menu-list > li > .sub-menu {
    position: absolute;
    top: 58px;
    left: 5px;
    background: rgba(5, 5, 5, 0.698);
    min-width: 200px;
    z-index: 1000;
    display: none;
  }
  /* Configura os links do submenu */
  .menu > .menu-list > li > .sub-menu > li > a {
      padding: 10px 20px;
  }
  /* Clearfix para o menu */
  .menu:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }


footer{
    position: relative; top: 251px; font-size: 16px;color: white; background: rgba(5, 5, 5, 0.698) no-repeat fixed;
    text-align: center !important;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    width: 100%;
    display: flex;
    align-items: center !important;
}

.menu{padding-top: 10px; height: 68px;}
.usus 
{
  position: absolute;
  left: 1010px;
  z-index: 1;
  text-decoration: none; transition-duration: 0.4s;
}


.bm2  {position: absolute;  top: 10px; left: 400px; background-color: rgba(255, 255, 255, 0); padding: 10px 24px; border-radius: 14px;  text-decoration: none; transition-duration: 0.4s;
  cursor: pointer; border: 2px solid #ffffff00;

  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  z-index: 1;

  color: #fff;

} 

.bm1 {position: absolute; top: 10px;left: 250px; background-color: rgba(255, 255, 255, 0); padding: 10px 24px; border-radius: 14px;  text-decoration: none; transition-duration: 0.4s;
  cursor: pointer; border: 2px solid #ffffff00;

z-index: 1;

  color: #fff;
cursor: pointer;
display: block;


transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);

} 

.bm3 {position: absolute; top: 10px; left: 550px; background-color: rgba(255, 255, 255, 0); padding: 10px 24px; border-radius: 14px;  text-decoration: none; transition-duration: 0.4s;
  cursor: pointer; border: 2px solid #ffffff00;

z-index: 1;

  color: #fff;
cursor: pointer;
display: block;


transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);

} 

.prox{position: absolute;  top: 750px; left: 600px; background-color: rgba(255, 255, 255, 0); padding: 10px 24px; border-radius: 14px;  text-decoration: none; transition-duration: 0.4s;
    cursor: pointer; border: 2px solid #ffffff00; font-size: 20px;
  
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    z-index: 1;
  
    color: #fff;
  
  } 
  

.bm1:hover, .bm2:hover, .bm3:hover{background-color: rgb(255, 255, 255); 

  color: rgb(255, 255, 255);
background-color: transparent;
font-size: 16.5px;

}

.usus{height: 50px;}

.u:hover{
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-size: 12.5px;
}


.p:hover,.c:hover,.s:hover{ color: rgb(255, 255, 255); border-bottom: #fff 2px solid;}


.bm1:hover:before , .bm2:hover:before, .bm3:hover:before, .u:hover:before, .ingresso:hover:before, .prox:hover:before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  z-index: 2;

}


.bm1:before , .bm2:before, .bm3:before, .u:before, .ingresso:before, .prox:before
{
  z-index: 2;

  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.bi-box-arrow-right{position: relative; left: 34px;}


.filme{display: block; width:50%}
.fm{position: relative; left:40px; color: white;}

.fake-sel{
    display: none;   

 }
 
 .fake-sel-wrap{
    display: inline-block;
    position: relative;
    height: 46px;    

 }
 
 .fake-sel-wrap ul, .sp{
    margin: 0;
    padding: 0;
    list-style: none;
    

    position: absolute;
    top: 0;
    left: 40px;
    color: #fff;
    font-family: Arial;
    font-size: 17px;
    width: 1200px;
    height: 100px;
    overflow: hidden;
    cursor: default;
    background-color: rgba(2, 2, 2, 0.698);    

 }
 
 .fake-sel-wrap ul li{
    padding: 3px;
    line-height: 1em;
    display: flex;
    align-items: center;   

 }
 
 
 .fake-sel-wrap ul li:nth-child(1){
    border-bottom: 1px solid rgba(8, 8, 8, 0.466);    

 }
 
 .fake-sel-wrap ul li.ativo{
    background-color: rgba(0, 0, 0, 0.37);
    color: rgb(245, 245, 245);    

 }
 
 .fake-sel-wrap ul li:not(:nth-child(1)):not(.ativo):hover{
    background-color: rgba(0, 0, 0, 0.384);     

 }
 
 
 .fake-sel-wrap ul.ativo{
    overflow: auto;
    height: auto;     z-index: 2;

 }
 
 .fake-sel-wrap ul li img{
    width: 70px;
    height: 100px;
    margin-right: 20px;    z-index: 2;

 }
 
 /* ESTE É O CSS DA SETINHA */
 .fake-sel-wrap ul li:nth-child(1)::after{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #ffffff transparent transparent transparent;
    margin-left: auto;
    
 }


.dt{position: relative; left: 40px; top: 50px; color: #fff;}
.data{width: 50px;}

.Data{position: relative; top: 60px; padding-left: 300px; justify-content: space-around; width: 1000px;}

.d1{border: #fff 2px solid;}

.labl {
    margin-left: 30px;
    display: inline-block;
    width: 90px; height: 50px;
    border: #fff 1px solid;
    border-radius: 8px;
}
.labl > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
.labl > input + p{ /* DIV STYLES */
    cursor:pointer;
    border:2px solid transparent;
}
.labl > input:checked + p{ /* (RADIO CHECKED) DIV STYLES */
    background-color:  rgba(2, 2, 2, 0.418);
    border: 1px solid #ffffff; height: 50px; border-radius: 8px;
}

.labl:hover{background-color: rgba(2, 2, 2, 0.171);}

.dia{color: #fff; padding-left: 20px; padding-top: 10px;}

.sp{position: relative; top:80px; border:rgba(0, 0, 0, 0.37) 1px solid;}
option{
    background-color: rgba(0, 0, 0, 0.37);
    color: rgb(245, 245, 245);    

 }

 .op:hover{background-color: rgba(0, 0, 0, 0.171);
    color: rgb(245, 245, 245);}

.Shopping{position: relative; top: 80px; width: 500px;}

.s1, .s2{position: relative; top: 40px; width: 500px;}

.S1{position: relative; top: 80px; padding-left: 300px; justify-content: space-around; width: 1000px;}
.S2{position: relative; top: 80px; padding-left: 300px; justify-content: space-around; width: 1000px;}
.HR, .hr{color: #fff; padding-left: 20px; padding-top: 10px;}

.sp:active{border: transparent 1px solid;}
.sp:after{border: transparent 1px solid;}

text{position: relative; left: 550px;}